<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div *ngFor="let education of educationList" class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>
              {{ getEducationStartYear(education) }} - {{ getEducationEndYear(education) }}
            </p>
            <div class="h5">{{ education.name }}</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <h4 class="category">{{ education.institution }}</h4>
            <div class="h5">{{ education.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
